<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="{{ title }}" />
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/util.css" />
  </head>
  <body>
    <div class="c">
      <header class="mb3">
        <h1 class="tc mb0">Eleventy Minimal Blog Template 🔥</h1>
        <h5 class="tc mb1">Minimal blog template for GitHub Pages with Travis build script</h5>
      </header>
      <h1>{{ title }}</h1>
      <div>{{ content | safe}}</div>
      <div>
        <a href="{{ '/' | url }}">← Back</a>
      </div>
    </div>
  </body>
</html>