<!DOCTYPE html>
<html lang="en">
  <head>
   {% include "head.njk" %}
  </head>
  <body>
    {% include "github.njk" %}
    <div class="c">
      {% include "header.njk" %}
      {{ content | safe }}
      <hr /> 
      {% include "posts.njk" %}
    </div>
  </body>
</html>
